@model Contact
@{ //Changes title of page if "Add" or "Edit"
    string title = ViewBag.Action + " Contact";
    ViewBag.Title = title;
}
<!--Multi-Functional View to eliminate code duplication and redundancy-->
<!--Acts Create(Add) and Update(Edit) Views through dynamic use of Viewbag property values-->

<h2>@ViewBag.Title</h2>
<form asp-action="Edit" method="post">
    <div asp-validation-summary="All"
         class="text-danger">
    </div>
    <!-- Sets input fields and labels for all attributes-->
    <div class="form-group">
        <label asp-for="FirstName">First Name</label>
        <input asp-for="FirstName" class="form-control">
    </div><div class="form-group">
        <label asp-for="LastName">Last Name</label>
        <input asp-for="LastName" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="CategoryId">Category</label>
        <select asp-for="CategoryId" class="form-control">
            
            <!--retrieves categories and creates dropdown list items from categories-->
            <option value="">select a Category</option> 
            @foreach (Category c in ViewBag.Categories)
            {
                <option value="@c.CategoryId">
                    @c.CategoryName
                </option>
            }
        </select>
    </div>
    <div class="form-group">
        <label asp-for="Email">Email</label>
        <input asp-for="Email" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="Phone">Phone</label>
        <input id="phoneInput" asp-for="Phone" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="Business">Organization</label>
        <input asp-for="Business" class="form-control">
    </div>

    <!--Submit, cancel and home buttons-->

    <input type="hidden" asp-for="ContactId" />

    <!--Dynamically changes button text from add to edit based on asp-action, submits information to db-->
    <button type="submit" class="btn btn-success">
        @ViewBag.Action
    </button>

    <!--If on edit page, cancel will send you back to the details view, else sends back to index-->
    <a asp-controller="@((ViewBag.Action == "Edit") ? "Contact" : "Home")"
       asp-action="@((ViewBag.Action == "Edit") ? "Details" : "Index")"
       asp-route-id="@((ViewBag.Action == "Edit") ? Model.ContactId : null)"
       asp-route-slug="@((ViewBag.Action == "Edit") ? Model.Slug: null )"
       class="btn btn-danger">Cancel</a>
</form>
<!--loads js from wwwroot-->
<script src="~/js/site.js"></script>