@model List<Contact>
@{
    ViewBag.Title = "My Contacts";
}
<h2>Contact List</h2>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Year</th>
            <th>Genre</th>
            <th>Rating</th>
            <th><a asp-controller="Contact" asp-action="Add" class="btn btn-outline-success">Add New Contact</a></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var contact in Model)
        {
            <tr>
                <td>@contact.FirstName</td>
                <td>@contact.LastName</td>
                <td>@contact.Email</td>
                <td>@contact.Phone</td>
                <td>@contact.Category.CategoryName</td>
                <td>@contact.Organization</td>
                <td>
                    <a asp-controller="Contact" asp-action="Edit"
                       asp-route-id="@contact.ContactId"
                       asp-route-slug="@contact.Slug"
                       class="btn btn-outline-secondary">
                        Edit
                    </a>
                    <a asp-controller="Contact" asp-action="Delete"
                       asp-route-id="@contact.ContactId"
                       asp-route-slug="@contact.Slug"
                       class="btn btn-outline-danger">
                        Delete
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
